.left
  .show-box
    %p
      %h1
        Finance
    %p
      %strong
        Saldo atual:
      = "R$ #{current_user.accounts.sum(:balance)}"
    %p
      %strong
        Fluxo de caixa:
      %span{class: "#{cash_flow_state}"}
        = "R$ #{user_cash_flow}"
      

  = render 'accounts/list'