= form_for(@entry, format: 'js', html: {role: 'form', class: 'form-proposal-template form-wrap ajax-loading' }) do |f|
  .form-box
    .form-header
      %p
        Editar registro
    .form-body
      %p
        = f.label :title, "Título:"
        = f.text_field :title, required
      %p
        = f.label :description, "Descrição:"
        = f.text_area :description, ""
      %p
        = f.label :value, "Valor:"
        = f.number_field :value, required: true

    .form-footer
      = f.submit