= form_for(@entry, format: 'js', html: {role: 'form', class: 'form-proposal-template form-wrap ajax-loading' }) do |f|
  .form-box
    .form-header
      %p
        Novo registro
    .form-body
      %p
        = f.label :title, "Título:"
        = f.text_field :title, required: true
      %p
        = f.label :account_id, "Conta:"
        = f.select :account_id, @accounts, {}, required: true
      %p
        = f.label :description, "Descrição:"
        = f.text_area :description
      %p
        = f.label :value, "Valor:"
        = f.number_field :value, required: true
      %p
        = f.label :type_id, "Tipo:"
        = f.select :type_id, [["Despesa", 1],["Receita", 2]], required: true

    .form-footer
      = f.submit