= form_for(@entry, format: 'js', html: {role: 'form', class: 'form-proposal-template form-wrap ajax-loading' }) do |f|
  .form-box
    .form-header
      %p
        Criar Entrada
    .form-body
      %p
        = f.label :title, "Título:"
        = f.text_field :title
      %p
        = f.label :description, "Descrição:"
        = f.text_area :description
      %p
        = f.label :value, "Valor:"
        = f.number_field :value

      = f.hidden_field :account_id, value: @account_id

    .form-footer
      = f.submit