.show-box
  %p
    = link_to 'Voltar para a conta', :back
  %p
    %h2
      = @entry['title']
  %p
    %strong
      Valor: 
    = "R$ #{@entry['value']}"
  %p
    %strong
      Data: 
    = @entry['date'].to_date.strftime("%d/%m/%Y")
  %hr
  %p
    %strong
      Descrição
  %p{style: "padding: 0 0.5em"}
    = @entry['description']