.show-box
  %p
    %h2
      = @installment.name
  %p
    %strong
      Gasto planejado: 
    = "R$ #{@installment.planned_expense}"
  %p
    %strong
      Gasto Real: 
    %span{class: "#{real_expense > @installment.planned_expense ? "negative" : "positive"}"}
      = "R$ #{real_expense}"

  .actions-box
    = button_to("Destroçar", {:controller => :installments, :action => 'destroy', :id => @installment.id }, :method => :delete, data: { confirm: 'Tem certeza que quer destroçar isso ai?' })
    = button_to("Editar", {:controller => :installments, :action => 'edit', :id => @installment.id }, :method => :get)

= render 'entries/list'