!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AcBrasil
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if user_signed_in?
      .actions-box
        = link_to "Início", root_path
        = button_to("Nova conta", {:controller => :accounts, :action => 'new' }, :method => :get)
        = button_to("Novo registro", {:controller => :entries, :action => 'new'}, :method => :get)
        = button_to("Orçamentos", {:controller => :installments, :action => 'index'}, :method => :get)
        = button_to("Categorias", {:controller => :categories, :action => 'index'}, :method => :get)
        = link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Tem certeza que quer destroçar isso ai?' }
    = yield
