.account-box
  .show-box
    %p
    = link_to 'Voltar para a lista', :back
    %p
      %h2
        = @account.name
    %p
      %strong
        Saldo atual: 
      = "R$ #{@account.balance}"
    %p
      %strong
        Fluxo de caixa (mês atual): 
      %span{class: "#{cash_flow_state}"}
        = "R$ #{cash_flow}"

  = render 'entries/list'