%table{border: 1, class: "table"}
  %tr
    %th
      Tipo
    %th
      Título
    %th
      Valor
    %th
      Categoria
    %th
      Ações
  
  - @entries.each do |entry|
    %tr
      %td
        = entry.type_to_s("pt")
      %td
        = entry.title
      %td
        = "R$ #{entry.value}"
      %td
        = entry.category.name
      %td
        = button_to("Destroçar", {:controller => :entries, :action => 'destroy', :id => entry.id }, :method => :delete, data: { confirm: 'Tem certeza disso ai, irmã?' })
        = button_to("Editar", {:controller => :entries, :action => 'edit', :id => entry.id }, :method => :get)
