.show-box
  %p
    %h2
      = @account.name
  %p
    %strong
      Saldo atual: 
    = "R$ #{@account.balance}"
  %p
    %strong
      Fluxo de caixa: 
    %span{class: "#{cash_flow_state}"}
      = "R$ #{cash_flow}"

  .actions-box
    = button_to("Destroçar", {:controller => :accounts, :action => 'destroy', :id => @account.id }, :method => :delete, data: { confirm: 'Tem certeza que quer destroçar isso ai?' })
    = button_to("Editar", {:controller => :accounts, :action => 'edit', :id => @account.id }, :method => :get)

= render 'entries/list'